doctype html
html
  head
    title= appTitle
    script(type="text/javascript",src="/js/jQuery.min.js")
    link(rel='stylesheet', href='/css/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/bootstrap/dist/css/bootstrap.min.js')
    script(type="text/javascript",href='/css/bootstrap/dist/js/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(rel='text/javascript', href='/js/common.js')
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
  body
    #wrap
      .container
        h1.page-header= appTitle
        p.lead Welcome To My Blog By lxj
        block page
        block header
          div
            include includes/menu
        block alert
          div.alert.alert-warning.hidden
        .content
          block content
    block footer
      footer
        .container
          p
            |手打原创 time：2016年3月17日16:06:41 link：
            a(href="https://github.com/ac51300696") Github
            |.
